{% set recaptcha = __SELF__.recaptcha %}

<form class="p-3"
      data-request="onCallback"
      data-request-success="$(this).remove()"
      data-request-update="'{{__SELF__}}::result': '.callback-form-result'"
      action="POST"
>
    <p>
        <input type="text" name="name" placeholder="Your name">
        <input type="text" name="phone" placeholder="380935555555">
        <input type="text" name="email" placeholder="Your email">
    </p>

    <div class="form-group" class="field-recaptcha">
        <div class="g-recaptcha" data-sitekey="{{ recaptcha.site_key }}"></div>
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ recaptcha.lang }}"></script>
    </div>

    <button type="submit" class="btn btn-info">Отправить</button>
</form>
<div class="callback-form-result"></div>
