{% set topProducts = __SELF__ . topProducts %}

<section class="container mt-5">
    <h1 class="mb-4">Топ товаров</h1>
    <div class="row">
        {% for product in topProducts %}
            <div class="col-4">
            <div class="card" style="width: 18rem;">
                {% set image = product.featured_images|first.path ?? 'assets/images/default-image.png'|theme %}
                <img class="card-img-top" src="{{ image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.short_description }}</p>
                    <a href="{{ product.category.url }}/{{ product.slug }}" class="btn btn-primary">{{ product.title }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
